<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/tts-rest/js/jquery-v3.3.1.min.js"></script>
    <title>Mindslab.ai</title>
</head>
<body>
<h3>Mindslab TTS Test..</h3>
<p>
    Input TEXT:<br/>
    <textarea id="inText" style="width:600px;height:350px;" th:maxlength="${maxLength}">안녕하세요 마인즈랩입니다.</textarea>
    <span id="err"></span>
</p>
<p>
    <select id="setName">
        <option th:each="grpcName : ${grpcNames}" th:value="${grpcName}" th:text="${grpcName}"></option>
    </select>
    <input type="number" id="setSpeaker" min="0" value="0"/>
    <button id="btnGo" >Go</button>
</p>
<div id="dwnOption" style="display: none">
    <table>
        <tr>
            <td><b>목소리톤</b></td>
            <td>
                <input type="radio" id="toneUp" data-lang="Up" name="tone"/>
                <label for="toneUp">UP</label>
            </td>
            <td>
                <input type="radio" id="toneNormal" data-lang="Normal" name="tone" checked="checked"/>
                <label for="toneNormal">NORMAL</label>
            </td>
            <td>
                <input type="radio" id="toneDown" data-lang="Down" name="tone"/>
                <label for="toneDown">DOWN</label>
            </td>
        </tr>
    <tr>
        <td><b>재생속도</b></td>
        <td>
            <input type="radio" id="speedSlow" data-lang="0.8" name="playSpeed"/>
            <label for="speedSlow">0.8</label>
        </td>
        <td>
            <input type="radio" id="speedNormal" data-lang="1.0" name="playSpeed" checked="checked"/>
            <label for="speedNormal">1.0</label>
        </td>
        <td>
            <input type="radio" id="speedFast" data-lang="1.2" name="playSpeed"/>
            <label for="speedFast">1.2</label>
        </td>
    </tr>
    <tr>
    <td><b>파일형식</b></td>
    <td>
        <input type="radio" id="wav" name="voice" data-lang="wav" checked="checked"/>
        <label for="wav">wav</label>
    </td>

    <td>
        <input type="radio" id="mp3" name="voice" data-lang="mp3"/>
        <label for="mp3">mp3</label>
    </td>
    </tr>
    <tr>
    <td><button id="fileDownLoad" >다운로드</button></td>
    </tr>
    </table>
    <p>
        <audio id="audioPlayer" controls="controls">
            <source src="" type="audio/x-wav"/>
        </audio>
    </p>



</div>

</body>

<script>
/*<![CDATA[*/
    var active = true;
    var downloadOption = $('#dwnOption');

    $(document).ready(function(){
        var player = $('#audioPlayer');
        player.hide();

        $("#btnGo").click(function(){

            if(!active){
                return;
            }

            var name = $('#setName :selected').val();
            var speaker = $('#setSpeaker').val();

            speak(name, speaker, $('#inText').val());

            var vid = document.getElementById("audioPlayer");
            $("#fileDownLoad").click(function () {

                var file= $("input:radio[name='voice']:checked").data("lang");
                var speed=$("input:radio[name='playSpeed']:checked").data("lang");
                var tone=$("input:radio[name='tone']:checked").data("lang");

                fileDownload(file,speed,tone);
            });

        });

        player.on('playing', function(){
            console.log('playing');
        });
        player.on('canplay', function(){
            console.log('canplay');
        });
    });

    function fileDownload(file,speed,tone) {
        location.href = encodeURI("/tts-rest/tts/ttsDwn?&file="+file+"&speed="+speed+"&tone="+tone);
    }

    function speak(name, speaker, text) {
        active = false;
        updateStat();

        var player = $('#audioPlayer');

        player.hide();
        downloadOption.hide();
        var jsonString = JSON.stringify({"name": name, "speaker": speaker, "text": text, "audioEncoding": "WAV"});

        var url = "/tts-rest/tts/block/speak";

        var oReq = new XMLHttpRequest();
        oReq.open("POST", url, true);
        oReq.responseType = "blob";
        oReq.setRequestHeader("Content-Type", "application/json");

        // oReq.setRequestHeader("Authorization", "Bearer " + JWT)

        oReq.onload = function (oEvent) {
            active = true;
            updateStat();
            // var blob = oReq.response; // Note: not oReq.responseText
            var blob = new Blob([oReq.response],{type:'audio/x-wav'});
            if (blob) {
                player.show();
                var audioObj = document.getElementById('audioPlayer');
                var objectUrl = URL.createObjectURL(blob);
                audioObj.src = objectUrl;
                audioObj.onload = function(evt) {
                    URL.revokeObjectURL(objectUrl);
                };
                audioObj.play();

                downloadOption.show();

            }
        };

        oReq.addEventListener('progress', function (e) {
            if (e.lengthComputable) {
                var percentComplete = e.loaded / e.total;
                console.log('Downloading: ' + percentComplete + '%');
                var audioObj = document.getElementById('audioPlayer');

            }
        });

        oReq.send(jsonString);
    }
    function updateStat(){
        if(active){
            $('#btnGo').html("processing...");
        }else{
            $('#btnGo').html('Go');
        }

    }
/*]]>*/
</script>
</html>
